<!-- <app-component3-ngfor></app-component3-ngfor> -->
<!-- <app-push-and-splice></app-push-and-splice> -->

 <nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand">
      
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
          <a href="#" class="nav-item nav-link active">Home</a>
          <a href="#" class="nav-item nav-link">Product</a>
          <a href="#" class="nav-item nav-link">Contact</a>
          <a href="#" class="nav-item nav-link">AboutUs</a>
          
      </div>
      
  </div>
</nav> 
  

 <app-data-binding></app-data-binding>  
    <!-- <router-outlet></router-outlet>  -->

    <!-- <app-component1></app-component1> -->
    <!-- <app-component2></app-component2> -->
    <!-- <router-outlet></router-outlet>  -->